@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", serif;
}

button {
    background-color: white;
    border: 2px solid #da3c3c;
    border-radius: 0.25rem;
    color: #da3c3c;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
}

button:hover {
    border-color: red;
    color: red;
    cursor: pointer;
}